@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #14213d;
}

.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 90rem;
  margin: 2rem auto;
  padding: 2rem 5rem;
}
button {
  padding: 1rem 2rem;
  background-color: #fca311;
  color: #14213d;
  border: none;
  cursor: pointer;
  font-size: 4rem;
  width: 80%;
  padding: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: none;
  transition: all 0.4s ease-in;
  font-family: "Bangers", cursive;
  letter-spacing: 3px;
}
button:hover {
  background-color: #d18812;
  color: #6a040f;
}

.joke-card {
  width: 80%;
  background-color: #e5e5e5;
  text-align: center;
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
h3 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 705px) {
  .joke-card {
    width: 100%;
  }
  .container {
    width: 100%;
    padding: 2rem 1rem;
  }
  h3 {
    font-size: 3rem;
  }
  button {
    width: 100%;
    font-size: 2.5rem;
  }
}
